<div ng-controller="ClubController as club">

    {{ club.time }}

    <div class="callout" ng-hide="club.hasStarted">

        <h2>Welcome to {{club.number}} Club</h2>
        <p>You have 10 minutes to answer {{ club.number }} questions</p>

        <button class="button" ng-click="club.start()">Start</button>
        <a href="/">Maybe later<a>
    </div>

    <div ng-show="club.shouldDisplaySums()">
        <ul class="sums">
            <li class="sum" ng-repeat="sum in club.sums">
                <span class=sum-operand>{{sum.left}}</span>
                <span class=sum-operator>{{sum.sign}}</span>
                <span class=sum-operand>{{sum.right}}</span>
                <span class=sum-equals>=</span>
                <input class=sum-answer type="text" ng-model="sum.answer" />
            </li>
        </ul>

        <button class="button button__large" ng-click="club.finish()">Finish</button>
    </div>

    <div ng-show="club.hasFinished" class="callout">
        <h3>Finished</h3>
        <p>
            You got {{ club.result.score() }} out of {{ club.number }}
        </p>
    </div>
</div>
