extends ./layout.jade

block content

    h2 Choose your level

    ul.level-nav
        li: a.level-nav__item(href='#') 35
        li: a.level-nav__item(href='#') 55
        li: a.level-nav__item(href='#') 75
        li: a.level-nav__item(href='#') 95
        li: a.level-nav__item(href='#') 105
