doctype html
html
  head
    title Maths Club
    base(href='/')
    link(href='styles/main.css' rel='stylesheet')

    block headContent
  body
    header.banner
        h1 Maths Club

    block content
