extends ./layout.jade

block content
    h2 Login

    form(action='/login' method='post', id='login')

        if message
            div= message

        div
            label(for='username') Username
            input(id='username', name='username')

        div
            label(for='password') Password
            input(id='password', name='password', type='password')

        button(type='submit' form='login') Login

    a(href='/sign-up') Sign up for an account
