extends ./layout.jade

block content

    if message.length > 0
        div.notification--error= message

    div.auth-form

        h2 Sign Up

        form(action='/sign-up' method='post', id='signup')

            div.auth-form__item
                label.auth-form__label(for='username') Username
                input.auth-form__field(id='username', name='username')

            div.auth-form__item
                label.auth-form__label(for='password') Password
                input.auth-form__field(id='password', name='password' type='password')

            button.button(type='submit' form='signup') Sign up

        a.auth-form__nav-link(href='/login') Already have an account?
