extends ./layout.jade

block content

    h2 Sign Up

    form(action='/signup' method='post', id='signup')
        div
            label(for='sign-up-email') Email
            input(id='sign-up-email', name='sign-up-email', placeholder='your.name@somewhere.com')

        div
            label(for='sign-up-password') Password
            input(id='sign-up-password', name='sign-up-password' type='password')

        div
            label(for='sign-up-password-confirm') Confirm Password
            input(id='sign-up-password-confirm', name='sign-up-password-confirm' type='password')

        button(type='submit' form='signup') Sign up

    a(href='/login') Already have an account?
