.sums-container {
    margin-bottom: 56px;
}

.sums {
    list-style-type: none;
    padding: 0;
}

.sum {
    display: inline-block;
    margin: .6rem;
    background-color: $color-accent;
    padding: 1rem;
    border: 1px solid #ddd;
    font-size: 1.6rem;
}

.sum-operand {
    display: inline-block;
    width: 3rem;
    text-align: right;
}

.sum-operator {
    display: inline-block;
    text-align: right;
    width: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.sum-equals {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sum-answer {
    font-family: futura;
    line-height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
    width: 5.4rem;
}

